## Dataset Builder
This will build a dataset which can then be utilized to build machine learning models. It will essentially modify the accounts table by adding a few useful values such as average tweet sentiment, average tweet length, average number of hashtags used, and some other data

In [21]:
import numpy as np
import pandas as pd

In [24]:
verified = pd.read_csv('../data/verified_accounts.csv')
verified.dropna(inplace=True)
print(verified.shape)
print(verified.dtypes)
verified.head(5)

(404, 10)
id               int64
name            object
screen_name     object
description     object
created_at      object
followers        int64
following        int64
last_updated    object
image_url       object
is_bot           int64
dtype: object

,id,name,screen_name,description,created_at,followers,following,last_updated,image_url,is_bot
1,11489,Brian Solis,briansolis,"Digital Analyst and Anthropologist, Best-Selli...",2006-11-04 15:36:18,281706,2875,2019-05-05 19:27:43,http://pbs.twimg.com/profile_images/2536862457...,0
2,12925,janina gavankar,Janina,actor. musician. geek.,2006-11-18 07:00:35,179683,1121,2019-05-05 19:27:42,http://pbs.twimg.com/profile_images/1074201164...,0
3,78453,Khoi Vinh,khoi,Principal designer at @adobe working on @adobe...,2006-12-18 22:14:59,326623,2883,2019-05-05 19:27:42,http://pbs.twimg.com/profile_images/1775709982...,0
5,740983,Loic Le Meur,loic,entrepreneur - building a service for event or...,2007-02-01 00:10:23,125582,1233,2019-05-05 19:27:41,http://pbs.twimg.com/profile_images/1031552782...,0
6,749963,Pierre Omidyar,pierre,"Be you. Be cool. eBay, Omidyar Network, Peer N...",2007-02-03 02:41:31,488554,458,2019-05-05 19:27:40,http://pbs.twimg.com/profile_images/860459345/...,0

In [25]:
bots = pd.read_csv('../data/known_bots.csv')
bots.drop('political_leaning', inplace = True, axis=1)
bots.drop('account_category', inplace = True, axis=1)
print(bots.shape)
print(bots.dtypes)
bots.head(5)

(2075, 10)
date_created     object
description     float64
followers         int64
following         int64
id                int64
image_url       float64
is_bot            int64
last_updated     object
name            float64
screen_name      object
dtype: object

,date_created,description,followers,following,id,image_url,is_bot,last_updated,name,screen_name
0,0000-00-00 00:00:00,NaN,5246,105,131812518,NaN,1,0000-00-00 00:00:00,NaN,PRIBYSHIN
1,0000-00-00 00:00:00,NaN,58,35,189295762,NaN,1,0000-00-00 00:00:00,NaN,KRUTKOT
2,0000-00-00 00:00:00,NaN,148,1025,189659120,NaN,1,0000-00-00 00:00:00,NaN,PERESPAL
3,0000-00-00 00:00:00,NaN,16153,1951,201334945,NaN,1,0000-00-00 00:00:00,NaN,MANZAL_
4,0000-00-00 00:00:00,NaN,15,156,204279384,NaN,1,0000-00-00 00:00:00,NaN,MUZAAMURA

In [27]:
frames = [verified, bots]
accounts = pd.concat(frames, sort = False)
# accounts = pd.read_csv('../data/data.csv')
# accounts.dropna(inplace=True)
# print(accounts.shape)
# print(accounts.dtypes)

In [36]:
accounts.drop('date_created', inplace = True, axis=1)
accounts.head(5)

,id,name,screen_name,description,created_at,followers,following,last_updated,image_url,is_bot,category,bot_ratio,f2f,bot_guess
1,11489,Brian Solis,briansolis,"Digital Analyst and Anthropologist, Best-Selli...",2006-11-04 15:36:18,281706,2875,2019-05-05 19:27:43,http://pbs.twimg.com/profile_images/2536862457...,0,0,0.423008,97.984696,0
2,12925,janina gavankar,Janina,actor. musician. geek.,2006-11-18 07:00:35,179683,1121,2019-05-05 19:27:42,http://pbs.twimg.com/profile_images/1074201164...,0,0,0.987474,160.288136,0
3,78453,Khoi Vinh,khoi,Principal designer at @adobe working on @adobe...,2006-12-18 22:14:59,326623,2883,2019-05-05 19:27:42,http://pbs.twimg.com/profile_images/1775709982...,0,0,0.857970,113.292751,0
5,740983,Loic Le Meur,loic,entrepreneur - building a service for event or...,2007-02-01 00:10:23,125582,1233,2019-05-05 19:27:41,http://pbs.twimg.com/profile_images/1031552782...,0,0,0.942654,101.850770,0
6,749963,Pierre Omidyar,pierre,"Be you. Be cool. eBay, Omidyar Network, Peer N...",2007-02-03 02:41:31,488554,458,2019-05-05 19:27:40,http://pbs.twimg.com/profile_images/860459345/...,0,0,0.727868,1066.711790,0

In [29]:
# TODO GET RID OF THIS WHEN WE HAVE ACTUAL LABELS
# import random
# vals = ['NOT', 'BOT', 'UNKNOWN']
# accounts['category'] = [random.choice(vals) for k in accounts.index]
accounts['bot_ratio']= [random.uniform(0,1) for k in accounts.index]

In [30]:
# calculate follower-following ratio
def calculate_f2f(row):
    try:
        val = row['followers'] / row['following']
    except ZeroDivisionError:
        val = 9999999999999
    return val

accounts['f2f'] = accounts.apply (lambda row: calculate_f2f(row), axis=1)

In [31]:
# check if description for account contains 'bot', 'parody' or 'fake'
def guess_if_bot(row):
    _str = row['screen_name'].lower()
    flag = 0
    bot_words = ['bot', 'parody', 'fake']
    if any(word in _str for word in bot_words):
        flag = 1
    return flag

accounts['bot_guess'] = accounts.apply(lambda row: guess_if_bot(row), axis = 1)

In [52]:
bot_tweets = pd.read_csv('../data/known_bots_tweets.csv')
verified_tweets = pd.read_csv('../data/verified_accounts_tweets.csv')
verified_tweets.head(4)

,id_str,created_at,text,user_id
0,1000001565959380992,2018-05-25 13:12:07,I’ve joined @missingpeople’s #TeamBigTweet Hel...,24447643
1,1000013625854054402,2018-05-25 14:00:02,We just added some Meet &amp; Greet VIP ticket...,50750339
2,1000026257680142336,2018-05-25 14:50:14,This Sausage Pancake Egg Sandwich combines all...,14880616
3,1000034322152280064,2018-05-25 15:22:16,YIKES!\nAn Amazon Echo recorded a family’s con...,36370563

In [53]:
bot_tweets.head(4)

,created_at,id_str,text,user_id,updates,post_type,retweet,region,language
0,2016-01-01 00:36:00,NaN,"71-year-old driver OK after car flips, falls 1...",3091936475,3069,NaN,0,United States,English
1,2016-01-01 00:36:00,NaN,2 from North Carolina caught with counterfeit ...,3091936475,3070,NaN,0,United States,English
2,2016-01-01 13:02:00,NaN,Newark pastor leaves church with legacy of soc...,3091936475,3077,NaN,0,United States,English
3,2016-01-01 13:13:00,NaN,Top 10 Essex court cases and decisions to look...,3091936475,3078,NaN,0,United States,English

In [60]:
frames = [verified_tweets, bot_tweets]
tweets = pd.concat(frames, sort = False)
tweets.drop('id_str', inplace=True, axis=1)
tweets.drop('post_type', inplace=True, axis=1)
tweets.drop('retweet', inplace=True, axis=1)
tweets.drop('region', inplace=True, axis=1)
tweets.drop('language', inplace=True, axis=1)
tweets.drop('updates', inplace=True, axis=1)
tweets.dropna(inplace=True)
tweets.head(79)

,created_at,text,user_id
0,2018-05-25 13:12:07,I’ve joined @missingpeople’s #TeamBigTweet Hel...,24447643
1,2018-05-25 14:00:02,We just added some Meet &amp; Greet VIP ticket...,50750339
2,2018-05-25 14:50:14,This Sausage Pancake Egg Sandwich combines all...,14880616
3,2018-05-25 15:22:16,YIKES!\nAn Amazon Echo recorded a family’s con...,36370563
4,2018-05-25 15:23:26,My new song Coming From Afar featuring @Mavado...,18022904
5,2018-05-25 15:43:41,@Walkin_Louie @OriginalFunko @AMCTalkingDead @...,15666380
6,2018-05-25 15:47:37,Now that’s an outfit I can get with,35982046
7,2018-05-25 16:00:20,@Daryle_Dobos @NikkiGlaser Transcendental Medi...,15666380
8,2018-05-25 16:05:19,"Sorry to be negative, but it's a bummer that @...",15666380
9,2018-05-25 17:04:58,RT @juliepilat: “I know I talk a lot but we do...,7119102
10,2018-05-25 17:24:21,A word to the castrato Adam Schiff and other D...,52551600
11,2018-05-25 17:39:36,RT @Rocklahoma: Good morning Rocklahomies!\nTo...,14142946
12,2018-05-25 17:42:48,Our 2018 US Tour ends tonight at 10pm on the @...,14142946
13,2018-05-25 17:52:56,".@JJWatt bro, you could really use a trip to t...",26565946
14,2018-05-25 18:05:32,Don’t you just love jokes \n,16409683
15,2018-05-25 18:06:50,RT @pettycommajared: Enter the Dragon. \n\ncc:...,34999173
16,2018-05-25 18:18:48,Road Trip,24967668
17,2018-05-25 18:33:56,"RT @brkicks: ""DETAILS"" @jtimberlake @virgilabl...",26565946
18,2018-05-25 19:12:52,@NTBro Eh...I left Nerdist and took my podcast...,15666380
19,2018-05-25 19:27:41,@NTBro I don't think they're doing much else w...,15666380
20,2018-05-25 19:30:41,@NTBro,15666380
21,2018-05-25 19:51:46,The entertainment business is hilarious. Monda...,15666380
22,2018-05-25 19:56:55,@buckchance But since it's on Wednesday this y...,15666380
23,2018-05-25 19:57:42,Here is a sneak peek of Oak v2.0 :) https://t....,657863
24,2018-05-25 20:12:46,@Dubyaq Probably https://t.co/w3fe2Ujw96 and a...,15666380
25,2018-05-25 20:21:19,RT @smokeseasonband: We are so blessed to have...,16503218
26,2018-05-25 20:25:33,Coming From Afar is now spinning on YouTube: \...,18022904
27,2018-05-25 20:25:33,You know your youth is gone when you feel almo...,15666380
28,2018-05-25 20:41:29,@CaytonHolland Thanks it’s a big day,15666380
29,2018-05-25 20:48:47,Chester face is the bester face,16498230
...,...,...,...
49,2018-05-26 14:15:12,Milwaukee isn’t the only place this is happeni...,37774152
50,2018-05-26 14:33:37,"First, I observed that we might be the oldest…...",21255118
51,2018-05-26 14:57:14,RT @BrockmireIFC: Don't do anything I wouldn't...,87595338
52,2018-05-26 15:36:00,Flash back to the opposite scenario when I won...,21255118
53,2018-05-26 16:06:04,RT @oconnor129: So happy that after 19 years @...,20265966
54,2018-05-26 17:13:31,@Judnikki @Judnikki @Judnikki w the pen \nkeep...,18395177
55,2018-05-26 17:14:58,No one makes more money watching sports than m...,42519612
56,2018-05-26 18:02:30,This weekend for your aural enjoyment please a...,15666380
57,2018-05-26 18:24:02,So excited for the holiday weekend! What are y...,25726723
58,2018-05-26 18:38:43,Did I miss something? In the last 3 days I’ve ...,36370563
59,2018-05-26 19:06:46,@TunefulPopPhoto @reba @adamlambert @AllisonIr...,50750339
60,2018-05-26 19:08:53,@phillyphil97 All good. If I seemed at all wei...,50750339
61,2018-05-26 19:19:39,Bless you Mo Salah. Hope you’re okay,18720595
62,2018-05-26 19:48:48,Out here at @KBLX #Stonesoul 2018.Getting @RoJ...,52650019
63,2018-05-26 20:01:15,RT @JJWatt: Cheers to good times with great fr...,26565946
64,2018-05-26 20:40:08,Hala Madrid,60865434
65,2018-05-26 21:50:58,Thanks for the love! https://t.co/tB0jYXDnzA,20265966
66,2018-05-26 22:26:21,"Boston called, Vegas answered. #BostonCalling ...",19661294
67,2018-05-26 22:49:33,I can’t watch @StokleyOfficial at this #kblxna...,52650019
68,2018-05-26 23:21:01,@AyeeeBree,52650019
69,2018-05-26 23:48:34,Go Cubbies! https://t.co/RTXUKeKm3j,16498230
70,2018-05-27 00:00:12,@wes_dault Yours shipped in the second shipmen...,20265966
71,2018-05-27 00:16:00,@AyeeeBree God bless you.I’ve never torn an ACL,52650019
72,2018-05-27 00:24:58,Can I just take a moment to appreciate how fol...,52650019
73,2018-05-27 01:36:37,@AyeeeBree,52650019
74,2018-05-27 01:37:38,@AyeeeBree #Sidenote You watched purple rain yet?,52650019
75,2018-05-27 01:53:12,RT @GoldenKnights: Some of the finest French C...,76545864
76,2018-05-27 02:13:36,"Great night at Céline’s show, welcome back to…...",76545864
77,2018-05-27 02:15:05,I’m upset too,17977701
79,2018-05-27 05:02:28,"Chris’s wife thanks fans, “Chris will live for...",19404587

In [61]:
import string
import re    
def remove_punct(row):
    s = row['text']
    remove = string.punctuation
    remove = remove.replace("#", "")
    remove = remove.replace("@", "")
    pattern = r"[{}]".format(remove)
    s = re.sub(pattern, "", s)
    return s

tweets['text'] = tweets.apply(lambda row: remove_punct(row), axis = 1)

In [62]:
# add some weak NLP stuff 
from textblob import TextBlob
tweets[['polarity', 'subjectivity']] = tweets['text'].apply(lambda Text: pd.Series(TextBlob(Text).sentiment))

Need to write a function that gathers stats about tweets from a given account. We will want to track the average tweet length, average number of hashtags used and average tweet sentiment (polarity & subjectivity).

In [63]:
def get_tweet_info(row):
    row = row[1]
    tweet = row['text']
    pol = row['polarity']
    sub = row['subjectivity']
    length = len(tweet)
    hashtags = len(re.findall("#", tweet))
    mentions = len(re.findall("@", tweet))
    return (pol, sub, length, hashtags, mentions)

In [64]:
from statistics import mean
def get_tweets_for_user(row):
    uid = row['id']
    user_tweets = tweets[tweets['user_id'] == uid]
    if not user_tweets.empty:
        pols = []
        subs = []
        lengths = []
        hashtags = []
        mentions = []
        n_tweets = user_tweets.shape[0]
        for row in user_tweets.iterrows():
            
            pol, sub, length, hashtag, mention = get_tweet_info(row)
            pols.append(pol)
            subs.append(sub)
            lengths.append(length)
            hashtags.append(hashtag)
            mentions.append(mention)
    
        ave_pol = mean(pols)
        ave_sub = mean(subs)
        ave_length = mean(lengths)
        ave_hashtags = mean(hashtags)
        ave_mentions = mean(mentions)
        return [ave_pol, ave_sub, ave_length, ave_hashtags, ave_mentions, n_tweets]
    else:
        return 0

In [65]:
cols = ['ave_polarity', 'ave_subjectivity', 'ave_length', 'ave_hashtags', 'ave_mentions', 'n_tweets']
for name in cols:
    accounts[name] = random.random()

In [66]:
for i, row in accounts.iterrows():
    l = get_tweets_for_user(row)
    if l:
        j = 0
        for name in cols:
            accounts.at[i, name] = l[j]
            j += 1

In [67]:
accounts.head(5)

,id,name,screen_name,description,created_at,followers,following,last_updated,image_url,is_bot,category,bot_ratio,f2f,bot_guess,ave_polarity,ave_subjectivity,ave_length,ave_hashtags,ave_mentions,n_tweets
1,11489,Brian Solis,briansolis,"Digital Analyst and Anthropologist, Best-Selli...",2006-11-04 15:36:18,281706,2875,2019-05-05 19:27:43,http://pbs.twimg.com/profile_images/2536862457...,0,0,0.423008,97.984696,0,0.117515,0.309054,111.635838,0.404624,0.982659,173.0
2,12925,janina gavankar,Janina,actor. musician. geek.,2006-11-18 07:00:35,179683,1121,2019-05-05 19:27:42,http://pbs.twimg.com/profile_images/1074201164...,0,0,0.987474,160.288136,0,0.100108,0.279754,91.586735,0.153061,1.214286,196.0
3,78453,Khoi Vinh,khoi,Principal designer at @adobe working on @adobe...,2006-12-18 22:14:59,326623,2883,2019-05-05 19:27:42,http://pbs.twimg.com/profile_images/1775709982...,0,0,0.857970,113.292751,0,0.160820,0.437966,90.585000,0.015000,0.500000,200.0
5,740983,Loic Le Meur,loic,entrepreneur - building a service for event or...,2007-02-01 00:10:23,125582,1233,2019-05-05 19:27:41,http://pbs.twimg.com/profile_images/1031552782...,0,0,0.942654,101.850770,0,0.138902,0.330753,88.350000,0.115000,1.125000,200.0
6,749963,Pierre Omidyar,pierre,"Be you. Be cool. eBay, Omidyar Network, Peer N...",2007-02-03 02:41:31,488554,458,2019-05-05 19:27:40,http://pbs.twimg.com/profile_images/860459345/...,0,0,0.727868,1066.711790,0,0.077174,0.431647,147.975000,0.000000,0.210000,200.0

In [68]:
accounts.to_csv(path_or_buf='../data/accounts_processed.csv')